<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>마켓에브리원-메인</title>
</head>

<div th:fragment="content" class="col-lg-9" >
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <h3>주문/배송조회</h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>주문일자</th>
            <th>대표상품 이름</th>
            <th>주문가격</th>
            <th>주문 상태</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${orders}">
            <td th:text="${item.date}"></td>
            <td th:text="${item.orderItemList[0].item.name}"></td>
            <td th:text="${item.orderItemList[0].price}"></td>
            <td th:text="${item.status}"></td>
            <td><button type="button">배송 조회</button> </td>
        </tr>
        </tbody>
    </table>

    <div th:align="center">
        <button type="button" class="btn btn-success"> 홈으로 가기 </button>
    </div>
</div>

</html>