<!DOCTYPE html>
<html lang="en" th:fragment="layout (head, content)" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="${head}">
    </head>

    <body>
        <div th:replace="layout/navigation :: common_nav"></div>
        <div class="container d-flex h-100 justify-content-end">
            <div th:replace="layout/user/sidebar :: sidebar"></div>
            <div class="row justify-content-center align-self-center w-75 pr-2">
                <div th:replace="${content}">

                </div>
            </div>
        </div>
    </body>

    <!-- Scroll to Top Button-->
    <!--<a class="scroll-to-top rounded" href="#page-top">-->
    <!--    <i class="fas fa-angle-up"></i>-->
    <!--</a>-->
    <!--<div th:replace="/layout/logout_modal :: common_logout_modal"></div>-->
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById('address').value = data.address;
                }
            }).open();
        }
    </script>
</html>