<!DOCTYPE html>
<html lang="en">
<div th:fragment="sidebar" class="col-lg-3 mt-5">
    <div class="list-group">
        <a href="/users/mypage" class="list-group-item" style="text-decoration: none; color: black">회원 정보 수정</a>
        <a href="/order/orderList" class="list-group-item" style="text-decoration: none; color: black">나의 쇼핑</a>
        <a href="/review/myReviewList" class="list-group-item" style="text-decoration: none; color: black">나의 작성 가능한 리뷰</a>
        <a href="/user/myReviewList" class="list-group-item" style="text-decoration: none; color: black">나의 작성한 리뷰</a>
        <a href="" class="list-group-item" style="text-decoration: none; color: black">나의 문의 내역</a>
        <a href="" class="list-group-item" style="text-decoration: none; color: black">장바구니</a>
    </div>
</div>
</html>