<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="col-lg-9 pt-5">
  <div class="col">
    <h3>판매 통계</h3>
    <hr>
  </div>

  <div class="row justify-content-end">
    <div class="col-2">
      <select class="custom-select" aria-label="select">
        <option value="#">통합</option>
        <option value="#">배송전</option>
        <option value="#">배송완료</option>
    </select>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">주문량</th>
          <th scope="col">배송지 정보</th>
          <th scope="col">현황</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            <input class="form-check-input" type="radio" name="example" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"></label>
          </th>
          <td>10개</td>
          <td>청능대로 175</td>
          <td>배송중</td>
        </tr>
        <tr>
          <th scope="row">
            <input class="form-check-input" type="radio" name="example" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2"></label>
          </th>
          <td>10개</td>
          <td>청능대로 175</td>
          <td>배송중</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>