<! DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="col-lg-9 pt-5">
    <div class="row">
        <div class="col">
            <h3>상세페이지</h3>
        </div>
    </div>
    <hr>

    <form th:action="@{/order/orderForm}" method="post">
        <div class="row">
        <div class="col p-0">
            <img th:src="${item.imagePath}" alt="상품 이미지">
        </div>
        <div class="col">
            <table class="table">
                <tr>
                    <th class="align-middle p-1 w-25 pl-4">상품명</th>
                    <td th:text="${item.name}"></td>
                </tr>
                <tr>
                    <th class="align-middle p-1 w-25 pl-4">배송비</th>
                    <td th:text="|3000|"></td>
                </tr>
                <tr>
                    <th class="align-middle p-1 w-25 pl-4">구매 옵션</th>
                    <td>
                        <label>
                            <select class="custom-select" id="itemOption">

                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle p-1 w-25 pl-4">구매 수량</th>
                    <td><input type="number" name="quantity" id="quantity"></td>
                </tr>
                <tr>
                    <th class="align-middle p-1 w-25 pl-4">결제 금액</th>
                    <td id="totalPrice" th:text="${item.price}"></td>
                </tr>
                <tr>
                    <th class="align-middle p-1 w-25 pl-4"></th>
                    <td><button type="submit" name="itemId" th:value="${item.id}" class="btn btn-primary">구매하기</button></td>
                </tr>
            </table>
        </div>
        </div>
    </form>

    <hr>
    <div class="row">
        <div class="col">
            <h2>상품 설명</h2>
        </div>
        <div class="col">
            <h2>배송 / 교환 / 환불</h2>
        </div>
        <div class="col">
            <h2>리뷰</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col" th:text="${item.content}"></div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>배송 규정</th>
                <td th:text="${item.delivery}"></td>
            </tr>
            <tr>
                <th>교환 규정</th>
                <td th:text="${item.exchange}"></td>
            </tr>
            <tr>
                <th>환불 규정</th>
                <td th:text="${item.refund}"></td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="row">
        리뷰 들어갈 자리
    </div>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
            var price = parseInt($('#price').attr('value'));
            var totalPrice = $('#totalPrice');
            $('#itemOption').change(function () {
                var optPrice = $(this).val();
                if (optPrice === "no") {
                    totalPrice.text(price);
                } else {
                    optPrice = parseInt(optPrice);
                    totalPrice.text(price + optPrice);
                }
            });
        });
    </script>
    <script th:inline="javascript">
        /* <![CDATA [*/
        let options = ['기본 옵션'];
        let optionPrice = [];
        optionPrice.push(/*[[ ${item.price} ]]*/)
        let price = [];
        let quantity = [];
        quantity.push(/*[[ ${item.quantity} ]]*/)


        /*[# th:if(#lists.size(options) > 0) th:each="option: ${options}"]*/
            options.push(/*[[ ${option.name} ]]*/);
            optionPrice.push(/*[[ ${option.price} ]]*/);
            quantity.push(/*[[ ${option.quantity} ]]*/);
        /*[/]*/
        /* ]]> */

        for (var i = 0; i < optionPrice.length; i++) {
            if (i === 0) {
                price[i] = optionPrice[i];
            } else {
                price[i] = optionPrice[i] + optionPrice[0];
            }
        }

        $(document).ready(function () {

            var itemOption = $('#itemOption');
            var totalPrice = $('#totalPrice');
            var currentQuantity = $('#quantity');

            // 초기값 1
            currentQuantity.val(1);

            for (var i = 0; i < options.length; i++) {
                itemOption.append($('<option>',
                    {
                        name: 'options',
                        value: i,
                        text: options[i] + '(+' + optionPrice[i] + ')'
                    }));
            }

            itemOption.on('change',function () {
                var optVal = parseInt($(this).val());
                if (optVal === 0) {
                    totalPrice.text(price[optVal]);
                } else {
                    totalPrice.text(price[optVal]);
                }
                currentQuantity.val(1);
            });


            currentQuantity.change(function () {
                var optVal = itemOption.val();
                var num = $(this).val();
                if (currentQuantity.val() < 1 || currentQuantity.val() > quantity[optVal]) {
                    alert('수량제한!');
                    $(this).val(1);
                    totalPrice.text(price[optVal]);
                } else {
                    totalPrice.text(parseInt(price[optVal]) * parseInt(num));
                }
            });
        });
    </script>
</div>
</body>
</html>