<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/sc-base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>마켓에브리원-메인</title>
</head>
<div th:fragment="content" class="col-lg-9 my-4">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>제목</th>
                <th>등록날짜</th>
                <th>답변여부</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>문의드립니다.</td>
                <td>2021.11.25</td>
                <td>O</td>
            </tr>
            <tr>
                <td>문의드립니다.</td>
                <td>2021.11.26</td>
                <td>X</td>
            </tr>
        </tbody>
    </table>
</div>

</html>