<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/seller/base :: layout (~{::head}, ~{::content})">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>마켓에브리원|등록한 물품</title>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" type="text/css">
</head>
<body>
    <div th:fragment="content" class="col-lg-9">
        <div class="col">
            <div class="row">
                <h3>나의 상품 목록</h3>
            </div>
        </div>
        <hr>
        <div class="row" th:each="item : ${items}">
            <div class="col-4 p-0">
                <img th:src="${item.imagePath}" alt="상품 이미지" width="200px" height="200px" onerror="this.src='/images/onerror/basicImg.png'">
            </div>
            <div class="col">
                <table class="table">
                    <tr>
                        <th class="align-middle p-1 w-25 pl-4">상품명</th>
                        <td><a th:text="${item.name}" th:href="@{/seller/static/{id}(id=${item.id})}" th:target="_blank" onclick="window.open(this.href,'', 'width=500px, height=500px')"></a></td>
                    </tr>
                    <tr>
                        <th class="align-middle p-1 w-25 pl-4">가격</th>
                        <td id="price" th:text="${item.price}" th:value="${item.price}"></td>
                    </tr>
                    <tr>
                        <th class="align-middle p-1 w-25 pl-4">남은 수량</th>
                        <td id="quantity" th:text="${item.quantity}" th:value="${item.quantity}"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <form th:action="@{/item/itemDelete(id=${item.getId()})}" method="post">
                                <button type="submit" style="float: right" class="btn btn-danger btn-sm mr-3">삭제</button>
                            </form>
                            <form th:action="@{/item/itemUpdateForm(id=${item.getId()})}" method="post">
                                <button type="submit" style="float: right" class="btn btn-info btn-sm mr-3">수정</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col">
                <ul class="pagination justify-content-center align-items-center"
                    th:with="start=${T(Math).floor(items.number/4)*4 + 1},
                   last=(${start + 3 < items.totalPages ? start + 3 : items.totalPages})">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/seller/itemList(page=0)}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == items.number} ? 'active'">
                        <a class="page-link" th:text="${page}" th:href="@{/seller/itemList(page=${page - 1})}"></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:href="@{/seller/itemList(page=${items.totalPages - 1})}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-right">
            <div class="col">
                <a th:href="@{/item/itemInsertForm}" class="btn btn-dark btn-sm mr-3">상품 등록</a>
            </div>
        </div>
    </div>
</body>
</html>