<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="col-lg-9 pt-5">
    <form th:action="@{/itemInsertForm}" method="post" id="itemForm" th:object="${}">
        <div class="row">
            <div class="col-6">
                <img src="http://placehold.it/400x400" alt="">
            </div>
            <div class="col-6">
                <table class="table">
                    <tr>
                        <th scope="row">상품명</th>
                        <td><input type="text" th:field="|item.name|" placeholder="상품명을 기입하세요."></td>
                    </tr>
                    <tr>
                        <th scope="row">적립금</th>
                        <td>250</td>
                    </tr>
                    <tr>
                        <th scope="row">배송비</th>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <th scope="row">구매 옵션</th>
                        <td id="options"></td>
                    </tr>
                </table>
                <span id="addOption">+</span>
                <span id="delOption">-</span>
            </div>
        </div>
        <hr>
        <div class="row" id="itemExplain">
            <div class="col">
                <h2>상품 설명</h2>
            </div>
        </div>
        <hr>
        <div class="row" id="writeExplain">
             <textarea th:id="'editor'" placeholder="This is some sample content."></textarea>
        </div>
        <hr>
        <div class="row" id="itemInformation">
            <div class="col">
                <h2>작품 정보제공 고시</h2>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end" id="writeInformation">
            <div class="col-2">
                <select class="custom-select" aria-label="select">
                    <option value="#">옵션1</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row" id="sellerInformation">
            <div class="col">
                <h2>판매자 정보</h2>
            </div>
        </div>
        <div class="row" id="writeSeller">
            <div class="col">
                <table class="table">
                    <tr>
                        <th scope="row">대표자명</th>
                        <td><input type="text" id="sellerName" placeholder="대표자명을 기입하세요."></td>
                    </tr>
                    <tr>
                        <th scope="row">이메일</th>
                        <td><input type="text" id="sellerEmail" placeholder="이메일을 기입하세요."></td>
                    </tr>
                    <tr>
                        <th scope="row">전화번호</th>
                        <td><input type="text" id="sellerPhone" placeholder="전화번호을 기입하세요."></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row" id="deliveryInformation">
            <div class="col">
                <h2>배송 / 교환 / 환불</h2>
            </div>
        </div>
        <div class="row" id="writeDelivery">
            <div class="col">
                <table class="table">
                    <tr>
                        <th scope="row">배송</th>
                        <td><input type="text" id="delivery" placeholder="배송 규정을 기입하세요."></td>
                    </tr>
                    <tr>
                        <th scope="row">교환</th>
                        <td><input type="text" id="change" placeholder="교환 규정을 기입하세요."></td>
                    </tr>
                    <tr>
                        <th scope="row">환불</th>
                        <td><input type="text" id="refund" placeholder="환불 규정을 기입하세요."></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            <input type="submit" th:value="'등록'">
            <input type="button" th:value="'취소'" th:href="@{/itemInsert}">
        </div>
    </form>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script>CKEDITOR.replace('editor');</script>
    <script>
        $(document).ready(function () {

            var num = 0;

            $("span[id='addOption']").click(function () {
                $('#options').append('<p class="small">옵션 <input type="text"></p>').attr("th:field", "option" + num);

                $('#options').append('<p class="small">가격 <input type="text"></p>').attr("th:field", "price" + num);
                num++;
            });

            $("span[id='delOption']").click(function () {
                for (let i = 0; i < 2; i++) {
                    $("#options").children('p:last').remove();
                }
                num--;
            });
        });


    </script>
</div>
</body>
</html>