<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="col-lg-9 pt-5">
    <div class="col">
        <h3>나의 상품 목록</h3>
        <hr>
    </div>
    <div class="row" th:each="item : ${items}">
        <div class="col ml-4">
            <p>상품명</p>
            <p>가격</p>
        </div>
        <div class="col">
            <p th:value="${item.name}" th:text="${item.name}"></p>
            <p th:value="${item.price}" th:text="${item.price}"></p>
        </div>
        <div class="col-6 text-right">
            <form th:action="@{/item/itemUpdateForm(id=${item.getId()})}" method="post">
                <button type="submit" class="btn btn-info btn-sm mr-3">수정</button>
            </form>
            <form th:action="@{/item/itemDelete(id=${item.getId()})}" method="post">
                <button type="submit" class="btn btn-danger btn-sm mr-3">삭제</button>
            </form>
        </div>
    </div>
    <div class="row text-right">
        <div class="col">
            <a th:href="@{/item/itemInsertForm}" class="btn btn-dark btn-sm mr-3">상품 등록</a>
        </div>
    </div>
</div>
</body>
</html>