<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/seller/base :: layout (~{::head}, ~{::content})">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>마켓에브리원|판매자 마이페이지</title>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" type="text/css">
</head>
<body>
  <div th:fragment="content" class="col-lg-9 pt-5">
      <div class="form-group col-auto">
          <label for="email" class="col-form-label font-weight-bold text-gray-700">이메일</label>
          <input class="form-control form-control-user" id="email"
                 type="text" th:value="${seller.email}" readonly>
      </div>
      <div class="form-group col-auto">
          <label for="brandName" class="col-form-label font-weight-bold text-gray-700">브랜드명</label>
          <input class="form-control form-control-user" id="brandName"
                 name="brandName" placeholder="닉네임" type="text" th:value="${seller.brandName}" readonly>
      </div>
      <div class="form-group">
          <label for="brandContent" class="col-form-label font-weight-bold text-gray-700">브랜드 설명</label>
          <textarea class="form-control form-control-user" id="brandContent"
                    name="brandContent" style="resize: none;" th:text="${seller.brandContent}" readonly></textarea>
      </div>
      <div>
          <img th:src="@{/image/0/} + ${seller.imagePath}" onerror="this.src='/images/onerror/basicImg.png'">
      </div>

      <div class="form-group">
          <label for="itemContent" class="col-form-label font-weight-bold text-gray-700">상품 설명</label>
          <textarea class="form-control form-control-user" id="itemContent"
                    name="itemContent" style="resize: none;" th:text="${seller.itemContent}" readonly></textarea>
      </div>
  </div>
</body>
</html>