<!DOCTYPE html>
<html lang="en">
<div th:fragment="sidebar" class="col-lg-2 mt-5 mr-5">
  <div class="list-group">
    <a th:href="@{/board/notice}" class="list-group-item" style="text-decoration: none; color: black">공지사항</a>
    <a th:href="@{/board/faq}" class="list-group-item" style="text-decoration: none; color: black">자주 묻는 질문</a>
    <a href="/service/qna/register" class="list-group-item" style="text-decoration: none; color: black">1:1 문의하기</a>
    <a href="/service/seller/register" class="list-group-item" style="text-decoration: none; color: black">판매자 등록</a>
  </div>
</div>
</html>