<!DOCTYPE html>
<html lang="en">
<div th:fragment="sidebar" class="col-lg-3 mt-5">
  <div class="list-group" id="sideBar">
    <a th:href="@{/seller/mypage}" class="list-group-item">마이페이지</a>
    <a th:href="@{/seller/itemList}" class="list-group-item">내 상품</a>
  </div>
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:inline="javascript">
    /* <![CDATA [*/
    var status = /*[[ ${seller.sellerStatus} ]]*/
            /* ]]> */

            $(document).ready(function () {
              if (status === 'WAIT' || status === 'DENIED') {
                $('#sideBar').children().eq(2).remove();
                $('#sideBar').children().eq(1).remove();
              }
              console.log(status);
            });
  </script>
</div>
</html>