<!DOCTYPE html>
<html lang="en" th:replace="layout/base :: layout (~{::title}, ~{::content})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마켓에브리원-게시글</title>
</head>

<body id="page-top">
<div class="container-fluid" th:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800" th:text="#{page.board}">게시글 상세</h1>
    <div class="container">
        <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
        <div>
            <label>게시글 번호</label>
            <input class="form-control" id="boardId" readonly th:value="${board.id}" type="text" value="1">
        </div>
        </br>
        <div>
            <label for="title">제목</label>
            <input class="form-control" id="title" placeholder="제목을 입력하세요"
                   readonly th:value="${board.title}" type="text">
        </div>
        </br>
        <div>
            <label for="username">작성자</label>
            <input class="form-control" id="username"
                   readonly th:value="${board.user.name}">
        </div>
        </br>
        <div>
            <label for="type">분류</label>
            <input class="form-control form-select" id="type" readonly th:value="${board.type}">
        </div>
        </br>
        <div>
            <label for="content">내용</label>
            <textarea class="form-control" id="content" readonly rows="5" th:text="${board.content}"></textarea>
        </div>
        </br>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/board/{boardId}/edit(boardId=${board.id})}'|"
                        type="submit">수정
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='/'"
                        th:onclick="|location.href='@{/board}'|"
                        th:text="#{button.list}"
                        type="button">목록으로
                </button>
            </div>
        </div>
    </div> <!-- /container -->
</div>
</body>
</html>