<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="top_nav" class="w-100 bg-white">
        <nav class="navbar navbar-expand-lg navbar-light pl-5 pr-5 pt-0 pb-0 border-bottom" style="height: 2rem;">
            <div class="collapse navbar-collapse" style="margin-right: 7rem">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/users/logout" style="color: #666666; font-size: 12px">로그아웃</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/users/login" style="color: #666666; font-size: 12px">로그인</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/users/join" style="color: #666666; font-size: 12px">회원가입</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3">
                        <a class="nav-link" href="#" style="color: #666666; font-size: 12px">고객센터</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <nav th:fragment="common_nav" class="navbar navbar-expand-lg navbar-light shadow-lg bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{/images/market-everyone.png}" alt="로고" width="150" height="40"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/mypage" style="color: #666666">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #666666">장바구니</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>