<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="top_nav" class="w-100 bg-white">
        <nav class="navbar navbar-expand-lg navbar-light pl-5 pr-5 pt-0 pb-0 border-bottom" style="height: 2rem;">
            <div class="collapse navbar-collapse" style="margin-right: 7rem">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/users/logout" style="color: #666666; font-size: 12px">로그아웃</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/users/login" style="color: #666666; font-size: 12px">로그인</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/seller/login" style="color: #666666; font-size: 12px">판매자 로그인</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/users/join" style="color: #666666; font-size: 12px">회원가입</a>
                    </li>
                    <li class="nav-item font-weight-normal mr-3">
                        <div class="dropdown">
                            <button style="color: #666666; font-size: 12px; border: none" class="bg-light btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                고객센터
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/board/notice}">공지사항</a>
                                <a class="dropdown-item" th:href="@{/board/faq}">자주 묻는 질문</a>
                                <a class="dropdown-item" href="/service/qna/register">1:1 문의하기</a>
                                <a sec:authorize="isAnonymous() or hasRole('USER')"  class="dropdown-item" href="/seller/join">판매자 등록</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <nav th:fragment="common_nav" class="navbar navbar-expand-lg navbar-light shadow-sm bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{/images/market-everyone.png}" alt="로고" width="150" height="45"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a sec:authorize="hasRole('USER')" class="nav-link" href="/users/mypage" style="color: #666666">마이페이지</a>
                        <a sec:authorize="hasRole('SELLER')" class="nav-link" href="/seller/mypage" style="color: #666666">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #666666">장바구니</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>