<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/home/base :: layout (~{::head}, ~{::content})">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <title>마켓에브리원 | Market For Everyone</title>
        <!-- Custom fonts for this template-->
        <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <!-- Custom styles for this template-->
        <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" type="text/css">
    </head>

    <div th:fragment="content" class="col-lg-auto">
        <div id="carouselExampleIndicators" class="carousel slide my-5" style="height: 17rem" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" style="height: 17rem" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/163849407986125363.png?gif=1&w=2560&q=100" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" style="height: 17rem" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/163851706347122774.png?gif=1&w=2560&q=100" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" style="height: 17rem" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/163852842549142346.png?gif=1&w=2560&q=100" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <h4 class="font-weight-bold text-gray-900">전체 카테고리</h4>
        <hr>
        <div class="row mb-5" id="categoryList">

        </div>

        <h4 class="font-weight-bold text-gray-900">오늘의 상품</h4>
        <hr class="mb-4">
        <div class="row" id="itemList">

        </div>

    </div>
</html>

<script>
    $(async function () {
        let response = '';

        await $.get(`/api/categories`, result => {
            response = result;
        });

        $("#categoryList").append(addCategoryTemplate(response));

        function addCategoryTemplate(categories) {
            let template = '';

            categories.forEach(category => {
                template += `
                    <div class="col-lg-1 col-md-1 text-center">
                        <div class="h-75">
                            <a href="/categories/${category.id}"><img class="card-img-top" src="${category.imagePath}" alt=""></a>
                            <div class="card-body">
                                <span class="small text-dark font-weight-bolder">${category.name}</span>
                            </div>
                        </div>
                    </div>
                `;
            })

            return template;
        }
    });

    $(function() {
        const size = 12;
        let from = 0;

        loadMoreItems();

        $(window).scroll(() => {
            if ($(window).scrollTop() + $(window).height() === $(document).height()) {
                loadMoreItems();
            }
        });

        async function loadMoreItems() {
            let response = '';
            await $.get(`/api/items?from=${from}&size=${size}`, result => {
                response = result;
            })

            $("#itemList").append(addItemTemplate(response));
            from += size;
        }

        function addItemTemplate(items) {
            let template = "";
            items.forEach((item) => {
                item.price = item.price.toLocaleString();
                template += `
                    <div class="col-lg-3 col-md-6 mb-5">
                        <div class="card h-100">
                            <a href="/item/${item.id}"><img class="card-img-top" src="${item.imagePath}" alt=""></a>
                            <div class="card-body">
                                <div class="small text-gray-900">${item.name}</div>
                                <div class="mt-1 fs-5x text-dark font-weight-bold">${item.price} 원</div>
                            </div>
                        </div>
                    </div>
                `;
            });

            return template;
        }
    });
</script>