<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
  <meta charset="UTF-8">
  <title>마켓에브리원-메인</title>
</head>
<div th:fragment="content" class="col-lg-9 mt-5">
  <form th:action="@{/users/signup}" method="post">
    <div class="mb-3">
      <input type="email" class="w-50 form-control" name="email" id="email" placeholder="이메일">
    </div>
    <div class="mb-3">
      <input type="text" class="w-50 form-control" name="accountId" id="accountId" placeholder="아이디">
    </div>
    <div class="mb-3">
      <input type="password" class="w-50 form-control" name="password" id="password" placeholder="비밀번호">
    </div>
    <div class="mb-3">
      <input type="text" class="w-50 form-control" name="city" id="city" placeholder="도시">
    </div>
    <div class="mb-3">
      <input type="text" class="w-50 form-control" name="street" id="street" placeholder="거리">
    </div>
    <button type="submit" class="btn btn-success">회원가입</button>
  </form>
</div>
</html>