<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>마켓에브리원-메인</title>
</head>
<div th:fragment="content" class="col-lg-9 mt-5" >
    <span class="mb-4">
        <img th:src="@{/images/google-logo.png}" alt="구글로그인 로고" width="50" height="50">
        <a href="http://localhost:8080/oauth2/authorization/google?redirect_uri=http://localhost:8080/oauth2/redirect"
           style="text-decoration: none; color: #1b1e21">구글 로그인</a>
    </span>
    <form th:action="@{/api/users/login}" method="post">
        <div class="mb-3">
            <input type="email" class="w-50 form-control" name="email" id="email" placeholder="이메일">
        </div>
        <div class="mb-3">
            <input type="password" class="w-50 form-control" name="password" id="password" placeholder="비밀번호">
        </div>
        <button type="submit" class="btn btn-success">로그인</button>
    </form>
</div>
</html>