<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/user/base :: layout (~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <title>마켓에브리원-메인</title>
</head>

<div th:fragment="content" class="col-lg-9" >
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">

        <h3>주문/배송조회</h3>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
<!--            <div class="card h-100">-->
<!--                <input type="text" name="user_name" placeholder="아이디"> <br>-->
<!--                <input type="text" name="user_name" placeholder="패스워드"> <br>-->
<!--                <button type="submit" style="background-color:#49c449">Login</button> <br>-->
<!--                비밀번호 찾기 | 회원가입-->
<!--            </div>-->
        </div>



        <body>
        <div class="content">
            <div class="container">
<!--                <h3>주문/배송조회</h3>-->
<!--                <h2 class="mb-5">Table #3</h2>-->
                <div class="table-responsive">
                    <table class="table custom-table">
                        <thead>
<!--                        <tr>-->
<!--                            <th scope="col">-->
<!--                                <label class="control control&#45;&#45;checkbox">-->
<!--                                    <input type="checkbox" class="js-check-all" />-->
<!--                                    <div class="control__indicator"></div>-->
<!--                                </label>-->
<!--                            </th>-->
<!--                            <th scope="col" colspan="5">Order</th>-->
<!--                            <th scope="col">Name</th>-->
<!--                            <th scope="col">Occupation</th>-->
<!--                            <th scope="col">Contact</th>-->
<!--                            <th scope="col">Education</th>-->
<!--                        </tr>-->
                        </thead>


                        <tbody>
                        <tr>
<!--                            <th scope="row">-->
<!--                                <label class="control control&#45;&#45;checkbox">-->
<!--                                    <input type="checkbox" />-->
<!--                                    <div class="control__indicator"></div>-->
<!--                                </label>-->
<!--                            </th>-->
                            <td>
                                2021.11.16
                            </td>
                            <td>[사진]</td>
                            <td>
                                <small class="d-block">Web Designer</small>
                                Far far away, behind the word mountains
                            </td>
                            <td>배송 준비중</td>
                            <td><button type="button">배송 조회</button> </td>
                        </tr>

                        <tr>
                            <td>2021.11.10</td>
                            <td>[사진]</td>
                            <td>
                                <small class="d-block">Graphic Designer</small>
                                Far far away, behind the word mountains
                            </td>
                            <td>배송 완료</td>
                            <td><button type="button">배송 조회</button> </td>
                        </tr>

                        <tr>
                            <td>2021.11.01</td>
                            <td>[사진]</td>
                            <td>
                                <small class="d-block">Mobile Dev</small>
                                Far far away, behind the word mountains
                            </td>
                            <td>배송 완료</td>
                            <td><button type="button">배송 조회</button> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

</html>