<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/auth/base :: layout (~{::head}, ~{::content})">
  <head th:fragment="head">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>마켓에브리원|회원가입</title>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" type="text/css">
  </head>

  <body>
    <div th:fragment="content" class="col-lg-6 mx-auto">
      <div class="pl-5 pt-3 pb-5 pr-5">
        <div class="text-center">
          <div style="font-size: 12px; color: #757575; margin-bottom: 0.5rem">
            SNS계정으로 간편하게 회원가입
          </div>
          <div>
            <a href="http://localhost:8080/oauth2/authorization/google?redirect_uri=http://localhost:8080/oauth2/redirect">
              <img th:src="@{/images/google-logo.png}" alt="구글로그인 로고" width="65" height="65">
            </a>
          </div>
        </div>
        <hr>
        <form th:action="@{/users/signup}" th:object="${userSignUpRequest}" method="post" class="user">

          <div class="form-group">
            <label for="email" class="form-label font-weight-bold text-dark">이메일</label>
            <input th:field="*{email}" class="form-control form-control-user" id="email"
                   name="email" placeholder="이메일" type="text">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="small text-danger mt-1 ml-3"></p>
            <p th:if="${errors?.containsKey('emailError')}" class="small text-danger mt-1 ml-3">이미 존재하는 회원의 이메일입니다.</p>
          </div>

          <div class="form-group">
            <label class="form-label font-weight-bold text-dark">비밀번호</label>
            <div class="mb-2 small">영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
            <input th:value="*{password}" class="form-control form-control-user" name="password"
                  placeholder="비밀번호" type="password" >
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="small text-danger mt-1 ml-3"></p>
          </div>

          <div class="form-group">
            <label class="form-label font-weight-bold text-dark">비밀번호 확인</label>
            <input th:value="*{passwordConfirm}" class="form-control form-control-user" name="passwordConfirm"
                   placeholder="비밀번호 확인" type="password" >
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="small text-danger mt-1 ml-3"></p>
            <p th:if="${errors?.containsKey('passwordError')}" class="small text-danger mt-1 ml-3">비밀번호가 일치하지 않습니다.</p>
          </div>

          <div class="form-group">
            <label class="form-label font-weight-bold text-dark">닉네임</label>
            <div class="mb-2 small">다른 유저와 겹치지 않는 닉네임을 입력해주세요.</div>
            <input th:field="*{nickname}" class="form-control form-control-user"
                   name="nickname" placeholder="닉네임" type="text">
            <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="small text-danger mt-1 ml-3"></p>
            <p th:if="${errors?.containsKey('nicknameError')}" class="small text-danger mt-1 ml-3">이미 존재하는 회원의 닉네임입니다.</p>
          </div>

          <button type="submit" class="btn btn-primary btn-user btn-block mt-4">회원가입하기</button>
        </form>

        <div class="text-center mt-4">
          <span>이미 아이디가 있으신가요?</span>
          <a href="/users/login">로그인</a>
        </div>
      </div>
    </div>
  </body>
</html>