<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
  <meta charset="UTF-8">
  <title>마켓에브리원-메인</title>
</head>
<div th:fragment="content" class="col-lg-9" >
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel"></div>

  <div class="row" th:align="center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <input type="text" name="user_name" placeholder="아이디"> <br>
        <input type="text" name="user_name" placeholder="패스워드"> <br>
        <input type="text" name="user_name" placeholder="패스워드 확인"> <br>
        <input type="text" name="user_name" placeholder="이메일"> <br>
        <input type="text" name="user_name" placeholder="주소"> <br>
        <button type="submit" class="btn btn-success">회원가입</button> <br>
      </div>
    </div>
  </div>

</div>
</html>