<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/user/base :: layout (~{::head}, ~{::content})">
  <head th:fragment="head">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>마켓에브리원|마이페이지</title>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" type="text/css">
  </head>

  <body>
    <div th:fragment="content" class="col-lg-9 mr-5">
      <h3 class="text-gray-900 font-weight-bold">회원정보수정</h3>
      <br/>
      <B class="mb-2 text-gray-900">기본 정보</B>
      <hr>
      <form th:action="@{/users/update}" method="post" class="user">
        <div class="form-group col-auto">
          <label for="email" class="col-form-label font-weight-bold text-gray-700">이메일</label>
          <input class="form-control form-control-user" id="email"
                 type="text" th:value="${userInfo.getEmail()}" readonly>
        </div>
        <div class="form-group col-auto">
          <label for="nickname" class="col-form-label font-weight-bold text-gray-700">닉네임</label>
          <input class="form-control form-control-user" id="nickname"
                 name="nickname" placeholder="닉네임" type="text" th:value="${userInfo.getNickname()}">
        </div>
        <div class="form-group">
          <span class="col-auto font-weight-bold text-gray-700">내 포인트</span>
          <span class="col-auto" th:text="${userInfo.getPoint()} + 포인트"> 0 </span>
        </div>
        <br>

        <B class="mb-2 text-gray-900">배송지 정보</B>
        <hr>
        <div class="form-group col-auto">
          <label class="col-form-label font-weight-bold text-gray-700">수령인</label>
          <input type="text" th:value="${userInfo.getName()}"
                 class="form-control form-control-user" name="name" id="name">
        </div>
        <div class="form-group col-auto">
          <label class="col-form-label font-weight-bold text-gray-700">연락처</label>
          <input type="text" th:value="${userInfo.getPhone()}"
                 class="form-control form-control-user" name="phone" id="phone">
        </div>
        <div class="form-group col-auto">
          <label class="col-form-label font-weight-bold text-gray-700">주소</label>
          <div class="row col-auto">
            <input class="w-50 form-control form-control-user col-auto" th:value="${userInfo.getPostcode()}"
                   type="text" id="postcode" name="postcode" readonly>
            <button class="btn btn-outline-success btn-user col-auto ml-2 w-25" type="button" onclick="execPostcode()">우편번호 찾기</button>
          </div>
          <input class="form-control form-control-user mt-1" th:value="${userInfo.getAddress()}"
                 type="text" id="address" name="address" readonly>
          <input class="form-control form-control-user mt-1" th:value="${userInfo.getDetailAddress()}"
                 type="text" id="detailAddress" name="detailAddress" placeholder="상세주소 입력">
        </div>
        <div class="form-group col-auto">
          <label class="col-form-label font-weight-bold text-gray-700">배송메모</label>
          <input type="text" th:value="${userInfo.getMemo()}" class="form-control form-control-user" name="memo" id="memo">
        </div>
        <div class="form-group col-auto">
          <button type="submit" class="btn btn-success mt-3 btn-user w-25 col-auto"> 수정하기 </button>
        </div>
      </form>
    </div>
  </body>
</html>