<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
  <meta charset="UTF-8">
  <title>마켓에브리원-메인</title>
</head>

<div th:fragment="content" class="col-lg-9" >
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  </div>

  <div class="row">

    <body>
    <div class="content">
      <div class="container">
        <h3>리뷰 작성하기</h3><br>

        <div class="table-responsive">
          <table class="table custom-table">
            <tbody>
            <tr>
              <td>
                2021.11.10
              </td>
              <td>[사진]</td>
              <td>
                <small class="d-block">Web Designer</small>
                Far far away, behind the word mountains
              </td>
              <td>배송 완료</td>
              <td><button type="button" style="background-color:#49c449">리뷰 작성 </button> </td>
            </tr>

            <tr>
              <td>2021.11.01</td>
              <td>[사진]</td>
              <td>
                <small class="d-block">Graphic Designer</small>
                Far far away, behind the word mountains
              </td>
              <td>배송 완료</td>
              <td><button type="button" style="background-color:#49c449">리뷰 작성</button> </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    </body>

  </div>
</div>

</html>