<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: layout (~{::title}, ~{::content})">
<head>
  <meta charset="UTF-8">
  <title>마켓에브리원-메인</title>
</head>
<div th:fragment="content" class="col-lg-9">
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <h3>실시간 리뷰</h3>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item One</a>
          </h4>

          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet numquam aspernatur!</p>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet numquam aspernatur!</p>
        </div>

        <div class="card-footer">
          <small class="text-muted">구매후기 전체 보기></small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Two</a>
          </h4>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur! Lorem ipsum dolor sit amet.</p>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">구매후기 전체 보기></small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Three</a>
          </h4>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur!</p>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">구매후기 전체 보기></small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Four</a>
          </h4>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur!</p>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">구매후기 전체 보기></small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Five</a>
          </h4>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur! Lorem ipsum dolor sit amet.</p>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">구매후기 전체 보기></small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Six</a>
          </h4>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur!</p>
          <p class="card-text">
            &#9733;&#9733;&#9733;&#9733;&#9733; | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">구매후기 전체 보기></small>
        </div>
      </div>
    </div>
  </div>
</div>
</html>